/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tr td {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
} */

.no-select {
    user-select: none;
}

.can-click {
    cursor: pointer;
}

.h-login {
    height: 300px;
}

.h-100 {
    height: 100%;
}

.scroll-snap-type {
    scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
    scroll-snap-align: start;
}

.bg-default {
    background-color: #ffffff;
}

.bg-fxz {
    background-color: #c8adc4;
}

.bg-bq {
    background-color: #5cb3cc;
}

.bg-yl {
    background-color: #96c24e;
}

.bg-gqh {
    background-color: #f17666;
}

/* 藤萝紫 */
.bg-tlz {
    background-color: #8076a3;
}

/* 靛青 */
.bg-dq {
    background-color: #1661ab;
}

/* 玫瑰灰 */
.bg-mgh {
    background-color: #4b2e2b;
}

/* 隐红灰 */
.bg-yhh {
    background-color: #b598a1;
}


.hidden {
    display: none;
}

.appPrint {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.place {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.screenshot-bg {
    background: black;
}

.small {
    transform: scale(0.9)
}

.btn-close {
    color: red;
    display: flex;
    bottom: 0;
    width: 100vw;
    padding-right: 10vw;
    position: fixed;
    padding-top: 2vh;
    font-size: 39px;
}