<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuean.whgr.dao.MenusMapper" >
  <resultMap id="BaseResultMap" type="com.tuean.whgr.entity.db.Menus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_type, menu_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from menus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tuean.whgr.entity.db.Menus" >
    insert into menus (id, menu_name, menu_type, 
      menu_url)
    values (#{id,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{menuType,jdbcType=INTEGER}, 
      #{menuUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tuean.whgr.entity.db.Menus" >
    insert into menus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuean.whgr.entity.db.Menus" >
    update menus
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuean.whgr.entity.db.Menus" >
    update menus
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=INTEGER},
      menu_url = #{menuUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countByRequest" resultType="java.lang.Integer">
    select count(1)
    from menus
    where <include refid="list_where"/>
  </select>

  <sql id="list_where">
    1=1
  </sql>

  <select id="selectByRequest" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from menus
    where <include refid="list_where"/>
    limit #{startRow}, #{endRow}
  </select>

</mapper>